<div class="row mx-auto text-center">
    <h1 class="text-center col-12">Les avis de nos clients :</h1>
    {% include 'partials/_separator.html.twig' %}
</div>
<div class="row mx-auto text-center">
    <div class="btn btn-info my-2 mx-auto rating_button">
        Donnez votre avis
        <i class="fas fa-arrow-down ml-1"></i>
    </div>
</div>
<div class="my-3 mx-auto form_rating">
    {{ form_start(form_rating) }}
        {{ form_widget(form_rating) }}
    <button class="btn btn-success">Envoyer</button>
    {{ form_end(form_rating) }}
</div>
<div class="row border border-primary mt-3 p-3" id="ratings">
    {% for rating in ratings %}
        <div class="card col-12 my-2">
            <div class="card-body p-1">
                <h5 class="card-title text-center p-1 m-0">
                    {% for i in 1..5 %}
                        {% if i <= rating.rating %}
                            <i class="fas fa-star gold_star mx-auto"></i>   
                        {% else %}
                            <i class="far fa-star mx-auto"></i>   
                        {% endif %}
                    {% endfor %}
                </h5>
            </div>
            <div class="card-subtitle mb-2 text-muted mx-auto">
                Par {{ rating.firstname }} {{ rating.lastname }}
            </div>
            <div class="card-text">
                {{ rating.comment }}
            </div>
        </div>
    {% endfor %}
</div>
