<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>JS Events - {% block title %}Administration !{% endblock %}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ asset('css/admin-style.css') }}">
      <link rel="stylesheet" href="{{ asset('css/admin-breakpoints.css') }}">
      {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">JS Events</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('dashboard')}}">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('news_show')}}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('deliveries_show')}}">Prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('slider_show')}}">Slider</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('ratings_show') }}">Avis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('introduce_owner_show') }}">Présentation</a>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link" href="#">
              <i class="fas fa-undo"></i>
              Retour au site
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-sign-out-alt"></i>
              Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success col-8 mx-auto text-center my-2">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger col-8 mx-auto text-center my-2">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
