{% extends 'admin/base.html.twig' %}

{% block title %}Ajout/Modification d'une prestation {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-3">
            {% if exist %}
                Modification d'une prestation.
            {% else %}
                Ajout d'une prestation.        
            {% endif %}
        </h1>
        <div class="col-md-8 col-xs-12 mx-auto">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success my-3">
                    <i class="fas fa-check"></i>
                    Valider
                </button>
                <a href="{{ path('deliveries_show')}}" class="btn btn-danger">
                    <i class="fas fa-reply"></i>
                    Annuler
                </a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
    <script src="{{asset('/js/deliveries.js')}}"></script>
{% endblock %}