{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des prestations{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-3">Gestion des prestations proposées</h1>
        <a href="{{ path('delivery_add')}}" class="mb-3 btn btn-success">
            <i class="fa fa-plus"></i>
            Ajouter
        </a>
        <div class="card-group">
        {% for delivery in deliveries %}
            <div class="col-4 mb-3 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('/images/deliveries/' ~ delivery.picture) }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ delivery.title }}</h5>
                        <i class="fas fa-arrow-circle-down fa-2x col text-center my-3"></i>
                        <div class="delivery_options">
                            {% for option in delivery.optionDeliveries %}
                                <div class="card-text">
                                    • {{ option.title }}
                                </div>
                            {% endfor %}
                            <div class=" mt-3 card-text"><span class="btn btn-success mx-auto">Tarif : {{ delivery.price }}€</span></div>
                        </div>
                    </div>
                    <hr>
                    <footer class="mx-auto mb-2">
                        <a href="{{ path('delivery_update', {'id': delivery.id })}}" class="btn btn-primary">
                            <i class="fas fa-pen"></i>
                            Modifier
                        </a>
                        <a href="{{ path('deliveries_delete',{'id': delivery.id })}}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                            Supprimer
                        </a>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
