{% extends 'admin/base.html.twig' %}

{% block title %}Gestion du profil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3 text-center">Gestion de ton profil :</h1>
        <div class="col-md-8 col-xs-12 mx-auto">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success my-3">
                    <i class="fas fa-check"></i>
                    Modifier
                </button>
                <a href="{{ path('introduce_owner_show')}}" class="btn btn-danger my-3">
                    <i class="fas fa-reply"></i>
                    Annuler
                </a>
            {{ form_end(form) }}
        </div>
    </div>

{{tinymce_init ()}}
{% endblock %}