<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="author" content="Florian THIEBAUD" />
        <meta name="copyright" content="©2020 JS Événementiel pour tous vos events privés, public, pro, sportifs, associatifs ..." />
        <meta name="description" content="Bienvenue sur le site de JS Événementiel" />
        <meta name="keywords" content="events,événements,saint-etienne,loire,privés,public,pro,associatif,dj,animation,mariage,soirée,fête,anniversaire" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="JS Événementiel" />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/breakpoints.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="shortcut icon" href="{{ asset('images/logo2.ico') }}" />
        <title>JS - Événementiel {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}
        <section id="slider">
            {% include 'partials/slider.html.twig' %}
        </section>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success col-8 mx-auto text-center my-2">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger col-8 mx-auto text-center my-2">{{ message }}</div>
        {% endfor %}
        {% include 'partials/introduce.html.twig' %}
        {% include 'partials/news.html.twig' %}
        {% include 'partials/deliveries.html.twig' %}
        
        <section id="contact" class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 mt-3">
                    {% include 'partials/contact.html.twig' %}
                </div>
                <div class="col-md-6 col-xs-12 mt-3">
                    {% include 'partials/rating.html.twig' %}
                </div>
            </div>
        </section>


        {% include 'partials/footer.html.twig' %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="module" src="{{ asset('js/main.js')}}"></script>
    </body>
</html>
